<div class="header">
    <div class="container">
        <div class="header__row">
            <div class="header__title">Курси валют</div>
            <div class="header__date">{{currentDate}}</div>
            <div class="header__actual">
                <ul>
                    <li>EURO</li>
                    <li>USD</li>
                </ul>
                <ul>
                    <li>{{eurExchangeRate}}</li>
                    <li>{{usdExchangeRate}}</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="line"></div>